body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.calculator{
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container{
    background: blue;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input{
    width: 60px;
    height: 60px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    box-shadow: 10px 15px 10px black;
    background: transparent;
    font-size: 20px;
    color: #fff;
    margin: 10px;
    cursor: pointer;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 20px;
    box-shadow: none;
    width: 100px;
}

form input.equal{
    width: 145px;
}



